<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1, Wed 27th Nov 13:30 - 16:00</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td>(Optional) Help with setup and installation</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Introduction to High-Performance Computing</td>
      </tr>
      <tr>
        <td></td>
        <td>Why use a Cluster?</td>
      </tr>
      <tr>
        <td></td>
        <td>Connecting to a Remote HPC System</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Connecting to a Remote HPC System (Continued)</td>
      </tr>
      <tr>
        <td></td>
        <td>Exploring Remote Resources</td>
      </tr>
      <tr>
        <td>15:55</td>
        <td>Wrap-Up</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2, Fri 29th Nov 13:30 - 16:00</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td>(Optional) Help with setup and installation</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Scheduler Fundamentals</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Scheduler Fundamentals (Continued)</td>
      </tr>
      <tr>
        <td></td>
        <td>Environment Variables</td>
      </tr>
      <tr>
        <td>15:55</td>
        <td>Wrap-Up</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>

</div><div class="row"> <!-- 2nd two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3, Wed 4th Dec 13:30 - 16:00</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td>(Optional) Help with setup and installation</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Accessing Software via Modules</td>
      </tr>
      <tr>
        <td></td>
        <td>Transferring Files</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Running a Parallel Job</td>
      </tr>
      <tr>
        <td>15:55</td>
        <td>Wrap-Up</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4, Fri 6th Dec 13:30 - 16:00</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td>Optional Help with setup and installation</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Using Resources Effectively</td>
      </tr>
      <tr>
        <td></td>
        <td>Using Shared Resources Responsibly</td>
      </tr>
      <tr>
        <td></td>
        <td>Requested hands-on demonstrations</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Requested hands-on demonstrations (continued)</td>
      </tr>
      <tr>
        <td>15:55</td>
        <td>Wrap-Up</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
