<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 and Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>Tuesday 13th 09:30 - 13:00</td>        <!-- time    -->
        <td> set-up help / check </td>
        <td>Welcome and Introduction </td>        <!-- content -->
        <td> Bash Shell</td>
      </tr>
      <tr>               <!-- row 1   -->
        <td> Wednesday 14th 10:00 - 13:00</td>        <!-- time    -->
        <td>HPC Introduction, logging on to Myriad</td>        <!-- content -->
        <td>Connecting, exploring resources and scheduler fundamentals </td>
      </tr>
   
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Thursday 14th 10:00 - 13:00 </td>        <!-- time    -->
        <td>Accessing software, transfering files and running a parallel job</td>      <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Thursday 14th 14:00 - 17:00</td>        <!-- time    -->
        <td>Using shared resources responsibly </td>td>
        <td>HPC Q&A, parallel challenge and wrap up</td>        <!-- content -->
      </tr>
     
    </table>
  </div>
</div>
