<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1, Tuesday 13th 09:30 - 13:00</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>        <!-- time    -->      
        <td>Complete setup instructions </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:30</td>        <!-- time    -->
        <td>Optional Help with setup and installation</td>        <!-- content -->    
      </tr>
     <tr>               <!-- row 3   -->
        <td>10:00</td>        <!-- time    -->
        <td>Welcome and course information</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 4   -->
        <td>10:15</td>        <!-- time    -->
        <td>Introduction to Unix Shell</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 5   -->
        <td>10:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 6   -->
        <td>11:05</td>        <!-- time    -->
        <td>Introduction to Unix Shell cont'd</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 7   -->
        <td>11:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->    
      </tr>
      <tr>               <!-- row 8   -->
        <td>12:05</td>        <!-- time    -->
        <td>Introduction to Unix Shell cont'd</td>        <!-- content -->    
      </tr>
        <tr>               <!-- row 9  -->
        <td>12:55</td>        <!-- time    -->
        <td>Wrap-Up</td>        <!-- content -->    
      </tr>
        <tr>               <!-- row 10   -->
        <td>13:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->    
      </tr>
    </table>
  </div>

  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2, Wednesday 14th 09:30 - 13:00</h3>
   <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>09:30</td>        <!-- time    -->
        <td>Optional Help with issues from Day 1</td>        <!-- content -->    
      </tr>
     <tr>               <!-- row 3   -->
        <td>10:00</td>        <!-- time    -->
        <td>Introduction to High-Performance Computing</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 5   -->
        <td>10:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 6   -->
        <td>11:05</td>        <!-- time    -->
        <td>Introduction to High-Performance Computing (Continued)</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 7   -->
        <td>11:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->    
      </tr>
      <tr>               <!-- row 8   -->
        <td>12:05</td>        <!-- time    -->
        <td>Introduction to High-Performance Computing (Continued)</td>        <!-- content -->    
      </tr>
        <tr>               <!-- row 9  -->
        <td>12:55</td>        <!-- time    -->
        <td>Wrap-Up</td>        <!-- content -->    
      </tr>
        <tr>               <!-- row 10   -->
        <td>13:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->    
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 3 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3, Thursday 15th 09:30 - 17:00</h3>
   <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>09:30</td>        <!-- time    -->
        <td>Optional Help with issues from Day 2</td>        <!-- content -->    
      </tr>
     <tr>               <!-- row 3   -->
        <td>10:00</td>        <!-- time    -->
        <td>Introduction to High-Performance Computing (Continued)</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 5   -->
        <td>10:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 6   -->
        <td>11:05</td>        <!-- time    -->
        <td>Introduction to High-Performance Computing (Continued)</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 7   -->
        <td>11:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->    
      </tr>
      <tr>               <!-- row 8   -->
        <td>12:05</td>        <!-- time    -->
        <td>Introduction to High-Performance Computing (Continued)</td>        <!-- content -->    
      </tr>
        <tr>               <!-- row 10   -->
        <td>13:00</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->    
      </tr>
     <tr>               <!-- row 6   -->
        <td>14:00</td>        <!-- time    -->
        <td>Introduction to High-Performance Computing (Continued)</td>        <!-- content -->    
      </tr>
       <tr>               <!-- row 7   -->
        <td>14:55</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->    
      </tr>
         <tr>               <!-- row 6   -->
        <td>15:05</td>        <!-- time    -->
        <td>Hands-on exercise</td>        <!-- content -->    
      </tr>
             <tr>               <!-- row 9  -->
        <td>16:30</td>        <!-- time    -->
        <td>Wrap-Up</td>        <!-- content -->    
      </tr>
        <tr>               <!-- row 10   -->
        <td>17:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->    
      </tr>
    </table>
  </div>
</div>
